{% macro signupForm(workshopURL, datePath, title, hash) %}
	<form data-form action="#formulier-1" method="post" id="formulier-1" class="generated" enctype="multipart/form-data">
      <fieldset>
       <legend>{{title}}</legend>
       <p>
        <label for="form-1-input-0">Naam</label>
        <input type="text" name="Naam" id="form-1-input-0" class="text">
       </p>
       <p>
        <label for="form-1-input-1">E-mailadres</label>
        <input type="text" name="E-mailadres" id="form-1-input-1" class="text">
       </p>
       <p>
        <label for="form-1-input-2">Telefoonnummer</label>
        <input type="text" name="Telefoonnummer" id="form-1-input-2" class="text">
       </p>
       <fieldset>
        <legend><span>Ben je lid van Fronteers</span></legend>
        <ul>
         <li>
          <label for="form-1-input-3">
           <input type="radio" name="Ben_je_lid_van_Fronteers" value="Ja" class="radio" id="form-1-input-3">
           Ja
          </label>
         </li>
         <li>
          <label for="form-1-input-4">
           <input type="radio" name="Ben_je_lid_van_Fronteers" value="Nee" class="radio" id="form-1-input-4">
           Nee
          </label>
         </li>
         <li>
          <label for="form-1-input-5">
           <input type="radio" name="Ben_je_lid_van_Fronteers" value="Ik heb me net aangemeld als lid en maak gebruik van het combiaanbod, zie hiervoor de voorwaarden" class="radio" id="form-1-input-5">
           Ik heb me net aangemeld als lid en maak gebruik van het combiaanbod, zie hiervoor de voorwaarden
          </label>
         </li>
        </ul>
       </fieldset>
       <p>
        <label for="form-1-input-6">E-mailadres voor de factuur</label>
        <input type="text" name="E-mailadres_voor_de_factuur" id="form-1-input-6" class="text">
       </p>
       <p>
        <label for="form-1-input-7">Factuuradres inclusief eventuele bedrijfsnaam</label>
        <textarea name="Factuuradres_inclusief_eventuele_bedrijfsnaam" id="form-1-input-7" cols="50" rows="5" class="small"></textarea>
       </p>
       <p>
        <label for="form-1-input-8">Kenmerk <em>optioneel, bijvoorbeeld een inkoopnummer</em></label>
        <input type="text" name="Kenmerk" id="form-1-input-8" class="text">
       </p>
       <p>
        <label for="form-1-input-9">Hoe heb je deze workshop gevonden?</label>
        <select name="Hoe_heb_je_deze_workshop_gevonden" id="form-1-input-9">
         <option value="Via fronteers.nl">Via fronteers.nl</option>
         <option value="Via twitter">Via twitter</option>
         <option value="De workshop mailinglist">De workshop mailinglist</option>
         <option value="Via Google">Via Google</option>
         <option value="Via een collega of kennis">Via een collega of kennis</option>
         <option value="Anders">Anders</option>
        </select>
       </p>
       <p>
        <label for="form-1-input-10">Opmerkingen</label>
        <textarea name="Opmerkingen" id="form-1-input-10" cols="50" rows="5" class="small"></textarea>
       </p>
       <fieldset>
        <legend><span>Mijn naam mag op de publieke deelnemerslijst:</span></legend>
        <ul>
         <li>
          <label for="form-1-input-11">
           <input type="radio" name="Mijn_naam_mag_op_de_publieke_deelnemerslijst" value="Ja" class="radio" id="form-1-input-11">
           Ja
          </label>
         </li>
         <li>
          <label for="form-1-input-12">
           <input type="radio" name="Mijn_naam_mag_op_de_publieke_deelnemerslijst" value="Nee" class="radio" id="form-1-input-12">
           Nee
          </label>
         </li>
        </ul>
       </fieldset>
       <fieldset>
        <legend><span>Akkoord met de voorwaarden:</span></legend>
        <ul>
         <li>
          <label for="form-1-input-13">
           <input type="checkbox" name="Akkoord_met_de_voorwaarden_Ja" value="Ja" class="checkbox" id="form-1-input-13">
           Ja
          </label>
         </li>
        </ul>
       </fieldset>
       <p>
        <label for="form-1-spam-check">Is dit spam? <em>Nee invullen</em></label>
        <input type="text" name="spam-check" id="form-1-spam-check" class="text spam-check">
       </p>
       <p class="submit">
        <input type="hidden" name="frm" value="1">
        <input type="hidden" name="hsh" value="73434c8b2e08b2b1c7b6796004d3f6d2">
        <input type="hidden" name="ref" value="{{workshopURL}}">
        <input type="submit" name="submitted" value="Verstuur" class="submit">
       </p>
      </fieldset>
     </form>
{% endmacro %}
